<div class="block-header block-header--has-breadcrumb block-header--has-breadcrumb-detail">
    <div class="container">
        <div class="block-header__body">
            <nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb__list">
                    <li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
                    <li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
                        <%= link_to 'Trang Chủ', root_link, title: '', class: 'breadcrumb__item-link' %>
                    </li>
                    <li class="breadcrumb__item breadcrumb__item--parent">
                        <%= link_to 'Bàn Thờ', category_listing_link, title: '', class: 'breadcrumb__item-link' %>
                    </li>
                    <li class="breadcrumb__item breadcrumb__item--parent">
                        <%= link_to 'Bàn Thờ Ông Địa - Thần Tài', product_listing_link, title: '', class: 'breadcrumb__item-link' %>
                    </li>
                    <li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page">
                        <span class="breadcrumb__item-link">Tủ Thờ Huế Đục Chạm Tiên Cảnh</span>
                    </li>
                    <li class="breadcrumb__title-safe-area" role="presentation"></li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="block-split">
    <div class="container">
        <div class="block-split__row row no-gutters">
            <div class="block-split__item block-split__item-content col-auto">
                <div class="product product--layout--full">
                    <div class="product__body">
                        <div class="product__card product__card--one"></div>
                        <div class="product__card product__card--two"></div>
                        <div class="product-gallery product-gallery--layout--product-full product__gallery" data-layout="product-full">
                            <div class="product-gallery__featured">
                                <div class="owl-carousel">
                                        <%= image_tag '/dogoviet/img/tmp/product-01-700x700.png', alt: '', title: '' %>
                                        <%= image_tag '/dogoviet/img/tmp/product-02-700x700.png', alt: '', title: '' %>
                                        <%= image_tag '/dogoviet/img/tmp/product-03-700x700.png', alt: '', title: '' %>
                                        <%= image_tag '/dogoviet/img/tmp/product-04-700x700.png', alt: '', title: '' %>
                                        <%= image_tag '/dogoviet/img/tmp/product-05-700x700.png', alt: '', title: '' %>
                                </div>
                            </div>
                            <div class="product-gallery__thumbnails">
                                <div class="owl-carousel">
                                    <a href="<%= '/dogoviet/img/tmp/product-01-700x700.png' %>" class="product-gallery__thumbnails-item" target="_blank">
                                        <%= image_tag '/dogoviet/img/tmp/product-01-70x70.png', alt: '', title: '' %>
                                    </a>
                                    <a href="<%= '/dogoviet/img/tmp/product-02-700x700.png' %>" class="product-gallery__thumbnails-item" target="_blank">
                                        <%= image_tag '/dogoviet/img/tmp/product-02-70x70.png', alt: '', title: '' %>
                                    </a>
                                    <a href="<%= '/dogoviet/img/tmp/product-03-700x700.png' %>" class="product-gallery__thumbnails-item" target="_blank">
                                        <%= image_tag '/dogoviet/img/tmp/product-03-70x70.png', alt: '', title: '' %>
                                    </a>
                                    <a href="<%= '/dogoviet/img/tmp/product-04-700x700.png' %>" class="product-gallery__thumbnails-item" target="_blank">
                                        <%= image_tag '/dogoviet/img/tmp/product-04-70x70.png', alt: '', title: '' %>
                                    </a>
                                    <a href="<%= '/dogoviet/img/tmp/product-05-700x700.png' %>" class="product-gallery__thumbnails-item" target="_blank">
                                        <%= image_tag '/dogoviet/img/tmp/product-05-70x70.png', alt: '', title: '' %>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product__header">
                            <h1 class="product__title">Tủ Thờ Huế Đục Chạm Tiên Cảnh</h1>
                            <div class="product__subtitle">
                                <div class="product__rating">
                                    <div class="product__rating-stars">
                                        <div class="rating">
                                            <div class="rating__body">
                                                <div class="rating__star rating__star--active"></div>
                                                <div class="rating__star rating__star--active"></div>
                                                <div class="rating__star rating__star--active"></div>
                                                <div class="rating__star rating__star--active"></div>
                                                <div class="rating__star"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product__rating-label">
                                        <%= link_to '5 sao / 20 đánh giá', '', title: '' %>
                                    </div>
                                </div>
                                <div class="status-badge status-badge--style--success product__fit status-badge--has-icon status-badge--has-text">
                                    <div class="status-badge__body">
                                        <div class="status-badge__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13">
                                                <path d="M12,4.4L5.5,11L1,6.5l1.4-1.4l3.1,3.1L10.6,3L12,4.4z" />
                                            </svg>
                                        </div>
                                        <div class="status-badge__text">Bàn Thờ Ông Địa - Thần Tài</div>
                                        <div class="status-badge__tooltip" tabindex="0" data-toggle="tooltip" title="Bàn Thờ Ông Địa - Thần Tài"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__main">
                            <div class="product__excerpt text-justify">
                                Tủ thờ gỗ gụ mật đục chạm rất đẹp với những họa tiết hình ảnh bình yên, hiền hòa rất phù hợp với việc thờ cúng gia tiên và thờ Phật.
                                Tủ thờ gỗ gụ mật đục chạm rất đẹp với những họa tiết hình ảnh bình yên, hiền hòa rất phù hợp với việc thờ cúng gia tiên và thờ Phật.
                            </div>
                            <div class="product__features">
                                <div class="product__features-title">THÔNG TIN SẢN PHẨM</div>
                                <ul>
                                    <li>Chất liệu gỗ: <span>Gỗ gụ ta Quảng Bình</span></li>
                                    <li>Họa tiết: <span>Ốc xà cừ</span></li>
                                    <li>Kích thước: <span>Ngang 1.45 x Cao 1.29 x Sâu 0.8 (Mét)</span></li>
                                    <li>Chất liệu gỗ: <span>Gỗ gụ ta Quảng Bình</span></li>
                                    <li>Họa tiết: <span>Ốc xà cừ</span></li>
                                    <li>Kích thước: <span>Ngang 1.45 x Cao 1.29 x Sâu 0.8 (Mét)</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product__info">
                            <div class="product__info-card">
                                <div class="product__info-body">
                                    <div class="product__badge tag-badge tag-badge--new">Mới</div>
                                    <div class="product__prices-stock">
                                        <div class="product__prices">
                                            <div class="product__price product__price--current"><%= format_price(15300000) %></div>
                                        </div>
                                        <div class="status-badge status-badge--style--success product__stock status-badge--has-text">
                                            <div class="status-badge__body">
                                                <div class="status-badge__text">Có Sẵn</div>
                                                <div class="status-badge__tooltip" tabindex="0" data-toggle="tooltip" title="In&#x20;Stock"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product__meta">
                                        <table>
                                            <tr>
                                                <th>Mã sản phẩm:</th>
                                                <td>201902-0057</td>
                                            </tr>
                                            <tr>
                                                <th>Người bán:</th>
                                                <td><a href="">Quang Minh 98</a></td>
                                            </tr>
                                            <tr>
                                                <th>Xuất xứ:</th>
                                                <td>Việt Nam</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="product__actions">
                                    <div class="product__actions-item product__actions-item--quantity">
                                        <div class="input-number">
                                            <input class="input-number__input form-control form-control-lg" type="number" min="1" value="1">
                                            <div class="input-number__add"></div>
                                            <div class="input-number__sub"></div>
                                        </div>
                                    </div>
                                    <div class="product__actions-item product__actions-item--addtocart">
                                        <button class="btn btn-primary btn-lg btn-block">Mua Sản Phẩm</button>
                                    </div>                                    
                                </div>
                                <div class="product__tags-and-share-links">
                                    <div class="product__tags tags tags--sm">
                                        <div class="tags__list">
                                            <a href="">bàn thờ ông địa</a>
                                            <a href="">bàn thờ thần tài</a>
                                            <a href="">tủ thờ</a>
                                            <a href="">tủ thờ cẩn ốc xà cừ</a>
                                            <a href="">tủ thờ đẹp</a>
                                            <a href="">tủ thờ quangminh98</a>
                                        </div>
                                    </div>
                                    <div class="product__share-links share-links">
                                        <ul class="share-links__list">
                                            <li class="share-links__item share-links__item--type--like"><a href="">Like</a></li>
                                            <li class="share-links__item share-links__item--type--tweet"><a href="">Tweet</a></li>
                                            <li class="share-links__item share-links__item--type--pin"><a href="">Pin It</a></li>
                                            <li class="share-links__item share-links__item--type--counter"><a href="">4K</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="product__tabs product-tabs product-tabs--layout--full">
                            <ul class="product-tabs__list">
                                <li class="product-tabs__item product-tabs__item--active">
                                    <a href="#product-tab-description">Mô Tả Sản Phẩm</a>
                                </li>
                                <li class="product-tabs__item"><a href="#product-tab-specification">Thông Tin Sản Phẩm</a></li>
                                <li class="product-tabs__item"><a href="#product-tab-reviews">Đánh Giá <span class="product-tabs__item-counter">(3)</span></a></li>
                                <li class="product-tabs__item"><a href="#product-tab-analogs">Phụ Kiện Liên Quan</a></li>
                            </ul>
                            <div class="product-tabs__content">
                                <div class="product-tabs__pane product-tabs__pane--active" id="product-tab-description">
                                    <div class="typography text-justify product-description">
                                        <p>Đồ thủ công mỹ nghệ đục chạm bằng tay và bằng sự sáng tạo của người thợ thì đúng thực sự là không có món nào giống món nào , nhìn qua về cầu hình hay kích thước thì có thể giống với 1 số mặt hàng được bán trên thị trường, nhưng nhìn kĩ mẫu chục chạm và sự tinh xảo của đường nét gia công thì ta có thể thấy được đây là 1 chiếc tủ thờ được đóng và đục chạm rất kĩ thuật.</p>
                                        <h4>Tủ Thờ Cẩn Ốc Xà Cừ</h4>
                                        <p>Đồ thủ công mỹ nghệ đục chạm bằng tay và bằng sự sáng tạo của người thợ thì đúng thực sự là không có món nào giống món nào , nhìn qua về cầu hình hay kích thước thì có thể giống với 1 số mặt hàng được bán trên thị trường, nhưng nhìn kĩ mẫu chục chạm và sự tinh xảo của đường nét gia công thì ta có thể thấy được đây là 1 chiếc tủ thờ được đóng và đục chạm rất kĩ thuật.</p>
                                        <p>Đồ thủ công mỹ nghệ đục chạm bằng tay và bằng sự sáng tạo của người thợ thì đúng thực sự là không có món nào giống món nào , nhìn qua về cầu hình hay kích thước thì có thể giống với 1 số mặt hàng được bán trên thị trường, nhưng nhìn kĩ mẫu chục chạm và sự tinh xảo của đường nét gia công thì ta có thể thấy được đây là 1 chiếc tủ thờ được đóng và đục chạm rất kĩ thuật.</p>
                                        <p>Đồ thủ công mỹ nghệ đục chạm bằng tay và bằng sự sáng tạo của người thợ thì đúng thực sự là không có món nào giống món nào , nhìn qua về cầu hình hay kích thước thì có thể giống với 1 số mặt hàng được bán trên thị trường, nhưng nhìn kĩ mẫu chục chạm và sự tinh xảo của đường nét gia công thì ta có thể thấy được đây là 1 chiếc tủ thờ được đóng và đục chạm rất kĩ thuật.</p>
                                        <p>Đồ thủ công mỹ nghệ đục chạm bằng tay và bằng sự sáng tạo của người thợ thì đúng thực sự là không có món nào giống món nào , nhìn qua về cầu hình hay kích thước thì có thể giống với 1 số mặt hàng được bán trên thị trường, nhưng nhìn kĩ mẫu chục chạm và sự tinh xảo của đường nét gia công thì ta có thể thấy được đây là 1 chiếc tủ thờ được đóng và đục chạm rất kĩ thuật.</p>
                                    </div>
                                </div>
                                <div class="product-tabs__pane" id="product-tab-specification">
                                    <div class="spec">
                                        <div class="spec__section">
                                            <h4 class="spec__section-title">General</h4>
                                            <div class="spec__row">
                                                <div class="spec__name">Material</div>
                                                <div class="spec__value">Aluminium, Plastic</div>
                                            </div>
                                            <div class="spec__row">
                                                <div class="spec__name">Engine Type</div>
                                                <div class="spec__value">Brushless</div>
                                            </div>
                                            <div class="spec__row">
                                                <div class="spec__name">Battery Voltage</div>
                                                <div class="spec__value">18 V</div>
                                            </div>
                                            <div class="spec__row">
                                                <div class="spec__name">Battery Type</div>
                                                <div class="spec__value">Li-lon</div>
                                            </div>
                                            <div class="spec__row">
                                                <div class="spec__name">Number of Speeds</div>
                                                <div class="spec__value">2</div>
                                            </div>
                                            <div class="spec__row">
                                                <div class="spec__name">Charge Time</div>
                                                <div class="spec__value">1.08 h</div>
                                            </div>
                                            <div class="spec__row">
                                                <div class="spec__name">Weight</div>
                                                <div class="spec__value">1.5 kg</div>
                                            </div>
                                        </div>
                                        <div class="spec__section">
                                            <h4 class="spec__section-title">Dimensions</h4>
                                            <div class="spec__row">
                                                <div class="spec__name">Length</div>
                                                <div class="spec__value">99 mm</div>
                                            </div>
                                            <div class="spec__row">
                                                <div class="spec__name">Width</div>
                                                <div class="spec__value">207 mm</div>
                                            </div>
                                            <div class="spec__row">
                                                <div class="spec__name">Height</div>
                                                <div class="spec__value">208 mm</div>
                                            </div>
                                        </div>
                                        <div class="spec__disclaimer">Information on technical characteristics, the delivery set, the country of manufacture and the appearance of the goods is for reference only and is based on the latest information available at the time of publication.</div>
                                    </div>
                                </div>
                                <div class="product-tabs__pane" id="product-tab-reviews">
                                    <div class="reviews-view">
                                        <div class="reviews-view__list">
                                            <div class="reviews-list">
                                                <ol class="reviews-list__content">
                                                    <li class="reviews-list__item">
                                                        <div class="review">
                                                            <div class="review__body">
                                                                <div class="review__avatar"><img src="images/avatars/avatar-1-42x42.jpg" alt=""></div>
                                                                <div class="review__meta">
                                                                    <div class="review__author">Samantha Smith</div>
                                                                    <div class="review__date">27 May, 2018</div>
                                                                </div>
                                                                <div class="review__rating">
                                                                    <div class="rating">
                                                                        <div class="rating__body">
                                                                            <div class="rating__star rating__star--active"></div>
                                                                            <div class="rating__star rating__star--active"></div>
                                                                            <div class="rating__star rating__star--active"></div>
                                                                            <div class="rating__star rating__star--active"></div>
                                                                            <div class="rating__star"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="review__content typography">Phasellus id mattis nulla. Mauris velit nisi, imperdiet vitae sodales in, maximus ut lectus. Vivamus commodo scelerisque lacus, at porttitor dui iaculis id. Curabitur imperdiet ultrices fermentum.</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="reviews-list__item">
                                                        <div class="review">
                                                            <div class="review__body">
                                                                <div class="review__avatar"><img src="images/avatars/avatar-2-42x42.jpg" alt=""></div>
                                                                <div class="review__meta">
                                                                    <div class="review__author">Adam Taylor</div>
                                                                    <div class="review__date">12 April, 2018</div>
                                                                </div>
                                                                <div class="review__rating">
                                                                    <div class="rating">
                                                                        <div class="rating__body">
                                                                            <div class="rating__star rating__star--active"></div>
                                                                            <div class="rating__star rating__star--active"></div>
                                                                            <div class="rating__star rating__star--active"></div>
                                                                            <div class="rating__star"></div>
                                                                            <div class="rating__star"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="review__content typography">Aenean non lorem nisl. Duis tempor sollicitudin orci, eget tincidunt ex semper sit amet. Nullam neque justo, sodales congue feugiat ac, facilisis a augue. Donec tempor sapien et fringilla facilisis. Nam maximus consectetur diam. Nulla ut ex mollis, volutpat tellus vitae, accumsan ligula.</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="reviews-list__item">
                                                        <div class="review">
                                                            <div class="review__body">
                                                                <div class="review__avatar"><img src="images/avatars/avatar-3-42x42.jpg" alt=""></div>
                                                                <div class="review__meta">
                                                                    <div class="review__author">Helena Garcia</div>
                                                                    <div class="review__date">2 January, 2018</div>
                                                                </div>
                                                                <div class="review__rating">
                                                                    <div class="rating">
                                                                        <div class="rating__body">
                                                                            <div class="rating__star rating__star--active"></div>
                                                                            <div class="rating__star rating__star--active"></div>
                                                                            <div class="rating__star rating__star--active"></div>
                                                                            <div class="rating__star rating__star--active"></div>
                                                                            <div class="rating__star rating__star--active"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="review__content typography">Duis ac lectus scelerisque quam blandit egestas. Pellentesque hendrerit eros laoreet suscipit ultrices.</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ol>
                                                <div class="reviews-list__pagination">
                                                    <ul class="pagination">
                                                        <li class="page-item disabled"><a class="page-link page-link--with-arrow" href="" aria-label="Previous"><span class="page-link__arrow page-link__arrow--left" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="7" height="11"><path d="M6.7,0.3L6.7,0.3c-0.4-0.4-0.9-0.4-1.3,0L0,5.5l5.4,5.2c0.4,0.4,0.9,0.3,1.3,0l0,0c0.4-0.4,0.4-1,0-1.3l-4-3.9l4-3.9C7.1,1.2,7.1,0.6,6.7,0.3z"/></svg></span></a></li>
                                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                        <li class="page-item active" aria-current="page"><span class="page-link">2 <span class="sr-only">(current)</span></span>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                                        <li class="page-item page-item--dots">
                                                            <div class="pagination__dots"></div>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                                                        <li class="page-item"><a class="page-link page-link--with-arrow" href="" aria-label="Next"><span class="page-link__arrow page-link__arrow--right" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="7" height="11"><path d="M0.3,10.7L0.3,10.7c0.4,0.4,0.9,0.4,1.3,0L7,5.5L1.6,0.3C1.2-0.1,0.7,0,0.3,0.3l0,0c-0.4,0.4-0.4,1,0,1.3l4,3.9l-4,3.9
C-0.1,9.8-0.1,10.4,0.3,10.7z"/></svg></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <form class="reviews-view__form">
                                            <h3 class="reviews-view__header">Write A Review</h3>
                                            <div class="row">
                                                <div class="col-xxl-8 col-xl-10 col-lg-9 col-12">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="review-stars">Review Stars</label>
                                                            <select id="review-stars" class="form-control">
                                                                <option>5 Stars Rating</option>
                                                                <option>4 Stars Rating</option>
                                                                <option>3 Stars Rating</option>
                                                                <option>2 Stars Rating</option>
                                                                <option>1 Stars Rating</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="review-author">Your Name</label>
                                                            <input type="text" class="form-control" id="review-author" placeholder="Your Name">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="review-email">Email Address</label>
                                                            <input type="text" class="form-control" id="review-email" placeholder="Email Address">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="review-text">Your Review</label>
                                                        <textarea class="form-control" id="review-text" rows="6"></textarea>
                                                    </div>
                                                    <div class="form-group mb-0 mt-4">
                                                        <button type="submit" class="btn btn-primary">Post Your Review</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="product-tabs__pane" id="product-tab-analogs">
                                    <table class="analogs-table">
                                        <thead>
                                            <tr>
                                                <th class="analogs-table__column analogs-table__column--name">Name</th>
                                                <th class="analogs-table__column analogs-table__column--rating">Rating</th>
                                                <th class="analogs-table__column analogs-table__column--vendor">Vendor</th>
                                                <th class="analogs-table__column analogs-table__column--price">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="analogs-table__column analogs-table__column--name"><a href="" class="analogs-table__product-name">Sunset Brake Kit</a>
                                                    <br>
                                                    <div class="analogs-table__sku" data-title="SKU">SSX-780B390-S</div>
                                                </td>
                                                <td class="analogs-table__column analogs-table__column--rating">
                                                    <div class="analogs-table__rating">
                                                        <div class="analogs-table__rating-stars">
                                                            <div class="rating">
                                                                <div class="rating__body">
                                                                    <div class="rating__star rating__star--active"></div>
                                                                    <div class="rating__star rating__star--active"></div>
                                                                    <div class="rating__star rating__star--active"></div>
                                                                    <div class="rating__star rating__star--active"></div>
                                                                    <div class="rating__star"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="analogs-table__rating-label">10 Reviews</div>
                                                    </div>
                                                </td>
                                                <td class="analogs-table__column analogs-table__column--vendor" data-title="Vendor">Sunset
                                                    <div class="analogs-table__country">(Germany)</div>
                                                </td>
                                                <td class="analogs-table__column analogs-table__column--price">$1259.00</td>
                                            </tr>
                                            <tr>
                                                <td class="analogs-table__column analogs-table__column--name"><a href="" class="analogs-table__product-name">Specter Brake Kit</a>
                                                    <br>
                                                    <div class="analogs-table__sku" data-title="SKU">SCT-123A380-S</div>
                                                </td>
                                                <td class="analogs-table__column analogs-table__column--rating">
                                                    <div class="analogs-table__rating">
                                                        <div class="analogs-table__rating-stars">
                                                            <div class="rating">
                                                                <div class="rating__body">
                                                                    <div class="rating__star rating__star--active"></div>
                                                                    <div class="rating__star rating__star--active"></div>
                                                                    <div class="rating__star rating__star--active"></div>
                                                                    <div class="rating__star rating__star--active"></div>
                                                                    <div class="rating__star rating__star--active"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="analogs-table__rating-label">34 Reviews</div>
                                                    </div>
                                                </td>
                                                <td class="analogs-table__column analogs-table__column--vendor" data-title="Vendor">Specter
                                                    <div class="analogs-table__country">(China)</div>
                                                </td>
                                                <td class="analogs-table__column analogs-table__column--price">$799.00</td>
                                            </tr>
                                            <tr>
                                                <td class="analogs-table__column analogs-table__column--name"><a href="" class="analogs-table__product-name">Brake Kit</a>
                                                    <br>
                                                    <div class="analogs-table__sku" data-title="SKU">NNO-120K643-S</div>
                                                </td>
                                                <td class="analogs-table__column analogs-table__column--rating">
                                                    <div class="analogs-table__rating">
                                                        <div class="analogs-table__rating-stars">
                                                            <div class="rating">
                                                                <div class="rating__body">
                                                                    <div class="rating__star rating__star--active"></div>
                                                                    <div class="rating__star rating__star--active"></div>
                                                                    <div class="rating__star rating__star--active"></div>
                                                                    <div class="rating__star"></div>
                                                                    <div class="rating__star"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="analogs-table__rating-label">7 Reviews</div>
                                                    </div>
                                                </td>
                                                <td class="analogs-table__column analogs-table__column--vendor" data-title="Vendor">No Name
                                                    <div class="analogs-table__country">(China)</div>
                                                </td>
                                                <td class="analogs-table__column analogs-table__column--price">$569.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-space block-space--layout--divider-xs"></div>
                <div class="block block-products-carousel" data-layout="grid-5">
                    <div class="container">
                        <div class="section-header">
                            <div class="section-header__body">
                                <h2 class="section-header__title">Sản Phẩm Liên Quan</h2>
                                <div class="section-header__spring"></div>
                                <div class="section-header__arrows">
                                    <div class="arrow section-header__arrow section-header__arrow--prev arrow--prev">
                                        <button class="arrow__button" type="button">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11">
                                                <path d="M6.7,0.3L6.7,0.3c-0.4-0.4-0.9-0.4-1.3,0L0,5.5l5.4,5.2c0.4,0.4,0.9,0.3,1.3,0l0,0c0.4-0.4,0.4-1,0-1.3l-4-3.9l4-3.9C7.1,1.2,7.1,0.6,6.7,0.3z" />
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="arrow section-header__arrow section-header__arrow--next arrow--next">
                                        <button class="arrow__button" type="button">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11">
                                                <path d="M0.3,10.7L0.3,10.7c0.4,0.4,0.9,0.4,1.3,0L7,5.5L1.6,0.3C1.2-0.1,0.7,0,0.3,0.3l0,0c-0.4,0.4-0.4,1,0,1.3l4,3.9l-4,3.9C-0.1,9.8-0.1,10.4,0.3,10.7z" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="section-header__divider"></div>
                            </div>
                        </div>
                        <div class="block-products-carousel__carousel">
                            <div class="block-products-carousel__carousel-loader"></div>
                            <div class="owl-carousel">
                                <% (0..6).each do |product| %>
                                <div class="block-products-carousel__column">
                                    <div class="block-products-carousel__cell">
                                        <div class="product-card product-card--layout--grid">                            
                                            <div class="product-card__image">
                                                <%= link_to image_tag('/dogoviet/img/tmp/product-245x245.jpg', alt: ''), '', title: '' %>
                                                <div class="status-badge status-badge--style--success product-card__fit status-badge--has-icon status-badge--has-text">
                                                    <div class="status-badge__body">
                                                        <div class="status-badge__icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13">
                                                                <path d="M12,4.4L5.5,11L1,6.5l1.4-1.4l3.1,3.1L10.6,3L12,4.4z" />
                                                            </svg>
                                                        </div>
                                                        <div class="status-badge__text">Tủ Thờ</div>
                                                        <div class="status-badge__tooltip" tabindex="0" data-toggle="tooltip" title=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-card__info">
                                                <div class="product-card__meta">
                                                    <span class="product-card__meta-title">Mã sản phẩm: </span>QM98-001
                                                </div>
                                                <div class="product-card__name">
                                                    <div>
                                                        <div class="product-card__badges">
                                                            <div class="tag-badge tag-badge--sale">Bán chạy</div>
                                                            <div class="tag-badge tag-badge--new">Mới</div>
                                                            <div class="tag-badge tag-badge--hot">Đặc biệt</div>
                                                        </div>
                                                        <%= link_to 'Tủ Thờ Huế Đục Chạm Tiên Cảnh', '', title: '' %>
                                                    </div>
                                                </div>
                                                <div class="product-card__rating">
                                                    <div class="rating product-card__rating-stars">
                                                        <div class="rating__body">
                                                            <div class="rating__star rating__star--active"></div>
                                                            <div class="rating__star rating__star--active"></div>
                                                            <div class="rating__star rating__star--active"></div>
                                                            <div class="rating__star rating__star--active"></div>
                                                            <div class="rating__star"></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-card__rating-label">4 sao / 22 đánh giá</div>
                                                </div>
                                            </div>
                                            <div class="product-card__footer">
                                                <div class="product-card__prices">
                                                    <div class="product-card__price product-card__price--current"><%= format_price(3500000) %></div>
                                                </div>
                                                <a class="product-card__addtocart-icon" href="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                                                        <circle cx="7" cy="17" r="2" />
                                                        <circle cx="15" cy="17" r="2" />
                                                        <path d="M20,4.4V5l-1.8,6.3c-0.1,0.4-0.5,0.7-1,0.7H6.7c-0.4,0-0.8-0.3-1-0.7L3.3,3.9C3.1,3.3,2.6,3,2.1,3H0.4C0.2,3,0,2.8,0,2.6V1.4C0,1.2,0.2,1,0.4,1h2.5c1,0,1.8,0.6,2.1,1.6L5.1,3l2.3,6.8c0,0.1,0.2,0.2,0.3,0.2h8.6c0.1,0,0.3-0.1,0.3-0.2l1.3-4.4C17.9,5.2,17.7,5,17.5,5H9.4C9.2,5,9,4.8,9,4.6V3.4C9,3.2,9.2,3,9.4,3h9.2C19.4,3,20,3.6,20,4.4z" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-products-carousel__column">
                                    <div class="block-products-carousel__cell">
                                        <div class="product-card product-card--layout--grid">                            
                                            <div class="product-card__image">
                                                <%= link_to image_tag('/dogoviet/img/tmp/product-245x245.jpg', alt: ''), '', title: '' %>
                                                <div class="status-badge status-badge--style--success product-card__fit status-badge--has-icon status-badge--has-text">
                                                    <div class="status-badge__body">
                                                        <div class="status-badge__icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13">
                                                                <path d="M12,4.4L5.5,11L1,6.5l1.4-1.4l3.1,3.1L10.6,3L12,4.4z" />
                                                            </svg>
                                                        </div>
                                                        <div class="status-badge__text">Tủ Thờ</div>
                                                        <div class="status-badge__tooltip" tabindex="0" data-toggle="tooltip" title=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-card__info">
                                                <div class="product-card__meta">
                                                    <span class="product-card__meta-title">Mã sản phẩm: </span>QM98-001
                                                </div>
                                                <div class="product-card__name">
                                                    <div>
                                                        <div class="product-card__badges">
                                                            <div class="tag-badge tag-badge--sale">Bán chạy</div>
                                                            <div class="tag-badge tag-badge--new">Mới</div>
                                                            <div class="tag-badge tag-badge--hot">Đặc biệt</div>
                                                        </div>
                                                        <%= link_to 'Tủ Thờ Huế Đục Chạm Đẹp', '', title: '' %>
                                                    </div>
                                                </div>
                                                <div class="product-card__rating">
                                                    <div class="rating product-card__rating-stars">
                                                        <div class="rating__body">
                                                            <div class="rating__star rating__star--active"></div>
                                                            <div class="rating__star rating__star--active"></div>
                                                            <div class="rating__star rating__star--active"></div>
                                                            <div class="rating__star rating__star--active"></div>
                                                            <div class="rating__star"></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-card__rating-label">4 sao / 22 đánh giá</div>
                                                </div>
                                            </div>
                                            <div class="product-card__footer">
                                                <div class="product-card__prices">
                                                    <div class="product-card__price product-card__price--current"><%= format_price(5000000) %></div>
                                                </div>
                                                <a class="product-card__addtocart-icon" href="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                                                        <circle cx="7" cy="17" r="2" />
                                                        <circle cx="15" cy="17" r="2" />
                                                        <path d="M20,4.4V5l-1.8,6.3c-0.1,0.4-0.5,0.7-1,0.7H6.7c-0.4,0-0.8-0.3-1-0.7L3.3,3.9C3.1,3.3,2.6,3,2.1,3H0.4C0.2,3,0,2.8,0,2.6V1.4C0,1.2,0.2,1,0.4,1h2.5c1,0,1.8,0.6,2.1,1.6L5.1,3l2.3,6.8c0,0.1,0.2,0.2,0.3,0.2h8.6c0.1,0,0.3-0.1,0.3-0.2l1.3-4.4C17.9,5.2,17.7,5,17.5,5H9.4C9.2,5,9,4.8,9,4.6V3.4C9,3.2,9.2,3,9.4,3h9.2C19.4,3,20,3.6,20,4.4z" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-space block-space--layout--divider-xs"></div>