<div class="mobile-menu">
    <div class="mobile-menu__backdrop"></div>
    <div class="mobile-menu__body">
        <button class="mobile-menu__close" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12">
                <path d="M10.8,10.8L10.8,10.8c-0.4,0.4-1,0.4-1.4,0L6,7.4l-3.4,3.4c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L4.6,6L1.2,2.6c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L6,4.6l3.4-3.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L7.4,6l3.4,3.4C11.2,9.8,11.2,10.4,10.8,10.8z" />
            </svg>
        </button>
        <div class="mobile-menu__panel">
            <div class="mobile-menu__panel-header">
                <div class="mobile-menu__panel-title">Danh Mục Sản Phẩm</div>
            </div>
            <div class="mobile-menu__panel-body">                    
                <div class="mobile-menu__divider"></div>                
                <ul class="mobile-menu__links">
                    <li><%= link_to 'Trang Chủ', erp_dogoviet.root_path, title: '' %></li>
                    <li data-mobile-menu-item>
                        <a href="javascript:void(0);" data-mobile-menu-trigger>
                            Bàn Thờ
                            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11">
                                <path d="M0.3,10.7L0.3,10.7c0.4,0.4,0.9,0.4,1.3,0L7,5.5L1.6,0.3C1.2-0.1,0.7,0,0.3,0.3l0,0c-0.4,0.4-0.4,1,0,1.3l4,3.9l-4,3.9C-0.1,9.8-0.1,10.4,0.3,10.7z"/>
                            </svg>
                        </a>
                        <div class="mobile-menu__links-panel" data-mobile-menu-panel>
                            <div class="mobile-menu__panel mobile-menu__panel--hidden">
                                <div class="mobile-menu__panel-header">
                                    <button class="mobile-menu__panel-back" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11">
                                            <path d="M6.7,0.3L6.7,0.3c-0.4-0.4-0.9-0.4-1.3,0L0,5.5l5.4,5.2c0.4,0.4,0.9,0.3,1.3,0l0,0c0.4-0.4,0.4-1,0-1.3l-4-3.9l4-3.9C7.1,1.2,7.1,0.6,6.7,0.3z" />
                                        </svg>
                                    </button>
                                    <div class="mobile-menu__panel-title">Bàn Thờ</div>
                                </div>
                                <div class="mobile-menu__panel-body">
                                    <ul class="mobile-menu__links">                                        
                                        <li data-mobile-menu-item><%= link_to 'Bàn Thờ Ông Địa - Thần Tài', '', title: '' %></li>
                                        <li data-mobile-menu-item><%= link_to 'Bàn Thờ Chúa - Công Giáo', '', title: '' %></li>
                                        <li data-mobile-menu-item><%= link_to 'Bàn Thờ Phật', '', title: '' %></li>
                                        <li data-mobile-menu-item><%= link_to 'Bàn Thờ Gia Tiên', '', title: '' %></li>
                                        <li data-mobile-menu-item><%= link_to 'Bàn Thờ Treo Tường', '', title: '' %></li>
                                        <li data-mobile-menu-item><%= link_to 'Bàn Thờ Tam Cấp', '', title: '' %></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-mobile-menu-item>
                        <a href="javascript:void(0);" data-mobile-menu-trigger>
                            Tủ Thờ
                            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11">
                                <path d="M0.3,10.7L0.3,10.7c0.4,0.4,0.9,0.4,1.3,0L7,5.5L1.6,0.3C1.2-0.1,0.7,0,0.3,0.3l0,0c-0.4,0.4-0.4,1,0,1.3l4,3.9l-4,3.9C-0.1,9.8-0.1,10.4,0.3,10.7z"/>
                            </svg>
                        </a>
                        <div class="mobile-menu__links-panel" data-mobile-menu-panel>
                            <div class="mobile-menu__panel mobile-menu__panel--hidden">
                                <div class="mobile-menu__panel-header">
                                    <button class="mobile-menu__panel-back" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11">
                                            <path d="M6.7,0.3L6.7,0.3c-0.4-0.4-0.9-0.4-1.3,0L0,5.5l5.4,5.2c0.4,0.4,0.9,0.3,1.3,0l0,0c0.4-0.4,0.4-1,0-1.3l-4-3.9l4-3.9C7.1,1.2,7.1,0.6,6.7,0.3z" />
                                        </svg>
                                    </button>
                                    <div class="mobile-menu__panel-title">Tủ Thờ</div>
                                </div>
                                <div class="mobile-menu__panel-body">
                                    <ul class="mobile-menu__links">                                        
                                        <li data-mobile-menu-item><%= link_to 'Tủ Thờ Gò Công', '', title: '' %></li>
                                        <li data-mobile-menu-item><%= link_to 'Tủ Thờ Cẩn Xà Cừ', '', title: '' %></li>
                                        <li data-mobile-menu-item><%= link_to 'Tủ Thờ Gỗ Gõ Đỏ', '', title: '' %></li>
                                        <li data-mobile-menu-item><%= link_to 'Tủ Thờ 2 Tầng', '', title: '' %></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><%= link_to 'Sập Thờ', erp_dogoviet.root_path, title: '' %></li>
                    <li data-mobile-menu-item>
                        <a href="javascript:void(0);" data-mobile-menu-trigger>
                            Tượng
                            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11">
                                <path d="M0.3,10.7L0.3,10.7c0.4,0.4,0.9,0.4,1.3,0L7,5.5L1.6,0.3C1.2-0.1,0.7,0,0.3,0.3l0,0c-0.4,0.4-0.4,1,0,1.3l4,3.9l-4,3.9C-0.1,9.8-0.1,10.4,0.3,10.7z"/>
                            </svg>
                        </a>
                        <div class="mobile-menu__links-panel" data-mobile-menu-panel>
                            <div class="mobile-menu__panel mobile-menu__panel--hidden">
                                <div class="mobile-menu__panel-header">
                                    <button class="mobile-menu__panel-back" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11">
                                            <path d="M6.7,0.3L6.7,0.3c-0.4-0.4-0.9-0.4-1.3,0L0,5.5l5.4,5.2c0.4,0.4,0.9,0.3,1.3,0l0,0c0.4-0.4,0.4-1,0-1.3l-4-3.9l4-3.9C7.1,1.2,7.1,0.6,6.7,0.3z" />
                                        </svg>
                                    </button>
                                    <div class="mobile-menu__panel-title">Tượng</div>
                                </div>
                                <div class="mobile-menu__panel-body">
                                    <ul class="mobile-menu__links">                                        
                                        <li data-mobile-menu-item><%= link_to 'Tượng Phật - Bồ Tát', '', title: '' %></li>
                                        <li data-mobile-menu-item><%= link_to 'Tượng Ông Địa - Thần Tài', '', title: '' %></li>
                                        <li data-mobile-menu-item><%= link_to 'Tượng Quan Công', '', title: '' %></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-mobile-menu-item>
                        <a href="javascript:void(0);" data-mobile-menu-trigger>
                            Đồ Thờ Cúng
                            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11">
                                <path d="M0.3,10.7L0.3,10.7c0.4,0.4,0.9,0.4,1.3,0L7,5.5L1.6,0.3C1.2-0.1,0.7,0,0.3,0.3l0,0c-0.4,0.4-0.4,1,0,1.3l4,3.9l-4,3.9C-0.1,9.8-0.1,10.4,0.3,10.7z"/>
                            </svg>
                        </a>
                        <div class="mobile-menu__links-panel" data-mobile-menu-panel>
                            <div class="mobile-menu__panel mobile-menu__panel--hidden">
                                <div class="mobile-menu__panel-header">
                                    <button class="mobile-menu__panel-back" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11">
                                            <path d="M6.7,0.3L6.7,0.3c-0.4-0.4-0.9-0.4-1.3,0L0,5.5l5.4,5.2c0.4,0.4,0.9,0.3,1.3,0l0,0c0.4-0.4,0.4-1,0-1.3l-4-3.9l4-3.9C7.1,1.2,7.1,0.6,6.7,0.3z" />
                                        </svg>
                                    </button>
                                    <div class="mobile-menu__panel-title">Tượng</div>
                                </div>
                                <div class="mobile-menu__panel-body">
                                    <ul class="mobile-menu__links">                                        
                                        <li data-mobile-menu-item><%= link_to 'Bài Vị', '', title: '' %></li>
                                        <li data-mobile-menu-item><%= link_to 'Bộ Đồ Thờ', '', title: '' %></li>
                                        <li data-mobile-menu-item><%= link_to 'Bát Hương - Lư Hương', '', title: '' %></li>
                                        <li data-mobile-menu-item><%= link_to 'Lọ Hoa - Bình Bông', '', title: '' %></li>
                                        <li data-mobile-menu-item><%= link_to 'Đĩa Thờ - Mâm Bồng', '', title: '' %></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><%= link_to 'Đồ Đồng', erp_dogoviet.root_path, title: '' %></li>
                    <li><%= link_to 'Tranh', erp_dogoviet.root_path, title: '' %></li>
                    <li><%= link_to 'Phòng Thờ', erp_dogoviet.root_path, title: '' %></li>
                </ul>
                <div class="mobile-menu__spring"></div>
                <div class="mobile-menu__divider"></div>
                <a class="mobile-menu__contacts" href="tel:0967420297">
                    <div class="mobile-menu__contacts-subtitle">Tư Vấn Trực Tuyến</div>
                    <div class="mobile-menu__contacts-title">0967 420 297</div>
                </a>
            </div>
        </div>
    </div>
</div>